.m-head{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: transparent;
  transition: all .8s;
  &:hover{
    box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    opacity: 1;
  }
  > .title{
       line-height: 60px;
       text-indent: 40px;
       font-size: 1.5em;
       color: #000;
       font-family: Helvetica, Geneva, sans-serif; /* Any font would work, but SansSerif looks better */
       text-shadow: -0.06em 0 red,  0.06em 0 cyan;
     }
    > .title:focus {
      outline: none;
    }
    > .title span {
      vertical-align: middle;
      line-height: 1.5em;
      transition: font-size 2s cubic-bezier(0, 1, 0, 1);
    }
    > .title span:hover {
      font-size: 1.5em; /* This adds a hover effect */
      line-height: 1em;
      transition: font-size .2s cubic-bezier(0, 0.75, 0, 1);
    }
    > .title span:active {
      font-size: 1em;
      text-shadow: none; /* Click to disable the 3D effect */
    }
    > .title span::selection {
      background-color: red; /* This hides the selection */
    }
    .ivu-menu-horizontal{
      margin-right: 3em;
      &::after{
        height: 0px;
      }
    }
}
  